.formflow-form {
	fieldset {
		margin:1.5em 0 0;
		padding:0;
		ol {
			padding:0;
			margin:0;
			list-style:none;
		}
		li {
			padding-bottom:1em;
			&.left label {
				float:left;
				width:10em;
				margin-right:1em;
			}
		}
		&.submit { border-style:none; }
	}

	label { display:block; }

	legend {
		margin:0;
		color:#000;
		font-weight:bold;
	}
}